models/__pycache__/calibrate.cpython-38.pyc
controllers/__pycache__/camera.cpython-38.pyc
controllers/__pycache__/inference.cpython-38.pyc
models/__pycache__/counter.cpython-38.pyc
models/__pycache__/detector.cpython-38.pyc
models/__pycache__/kalman.cpython-38.pyc
models/__pycache__/objects.cpython-38.pyc
models/__pycache__/drawner.cpython-38.pyc
models/__pycache__/metrics.cpython-38.pyc
models/__pycache__/postprocess.cpython-38.pyc
models/__pycache__/tracker.cpython-38.pyc
views/__pycache__/video.cpython-38.pyc
controllers/__pycache__/main_controller.cpython-38.pyc
models/__pycache__/centroidtracker.cpython-38.pyc
models/__pycache__/t_tracker.cpython-38.pyc
models/__pycache__/trackableobject.cpython-38.pyc
models/__pycache__
controllers/__pycache__
views/__pycache__
data/videos/*
data/videos/marrom.mp4
data/videos/20210714_090746_EDIT.mp4
data/videos/placa_3.mp4
.vscode/launch.json
.idea
/.idea
data/models/*
.env
models/hsv_filter/camera_1/hsv_filter_plate_white.pkl
/manual_save_video

models/bg_model/bg.png
models/background_extractor.py